---
import { Button } from 'ui';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro -- Web</title>
	</head>
	<body>
		<h1>Web</h1>
		<Button>Some Button</Button>
	</body>
</html>
